/* Resume Preview */
.resumeContainer {
    border: 5px solid var(--color-blue);
    width: 90%;
    height: 425px;
}

/* SMALL SCREEN */
section.grid_1 {
    display: grid;
    grid-template-columns: 1fr;
    width: 75%;
    background: var(--background);
}

section.grid_2 {
    display: grid;
    grid-template-columns: 1fr;
    width: 75%;
    padding: 10px;
    border-radius: 15px;
    background: var(--color-yellow);
}

section.grid_1x4 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    top: 0;
    width: 75%;
}

/* REGULAR SCREEN */
@media screen and (min-width : 1000px) {
    section.grid_1x4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 40%;
    }
    section.grid_1 {
        width: 50%;
        /* background: var(--color-light-gray2); */
        padding: 20px;
        border-radius: 25px;
    }
    section.grid_2 {
        width: 50%;
        background: var(--color-yellow);
        padding: 20px;
        border-radius: 25px;
    }
    .resumeContainer {
        border: 5px solid var(--color-blue);
        width: 60%;
        height: 850px;
    }
}