/* SMALL SCREEN */
section.grid_1 {
    display: grid;
    grid-template-columns: 1fr;
    width: 75%;
    background: var(--background);
}

section.grid_1x4 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    top: 0;
    width: 75%;
}

/* REGULAR SCREEN */
@media screen and (min-width : 1000px) {
    section.grid_1x4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 40%;
    }
    section.grid_1 {
        width: 50%;
        background: var(--color-light-gray);
        padding: 20px;
        border-radius: 25px;
    }
}